.moinhat-container {
    padding: 20px;
    width: 30%;

}

.moinhat-container h2{
    text-align: center;
    margin: 10px;
    
}

.moinhat-items {
    color: black;
    border-radius: 15px;
    width: 90%;
    margin: 20px 10px;
    display: flex;
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px rgba(151, 151, 151, 0.378)
}

.thumbnail {
    border-radius: 15px;
    width: 30%;
    height: 100px;
    padding: 10px;
}

.info {
    width: 70%;
}

.moinhat-items .info p,i,b {
    margin: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thumbnail img  {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.moinhat-box {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
