.container {
    background: rgb(35,170,201);
    background: linear-gradient(25deg, rgba(35,170,201,1) 27%, rgba(251,51,247,1) 65%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.input {
    display: block;
    margin: 10px auto;
}

.button {
    margin: 10px auto;
}

