.login-container {
    background: linear-gradient(117deg, rgba(120, 246, 216, 1) 37%, rgba(34, 177, 251, 1) 68%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.login-container .button {
    margin: 30px auto 20px auto;
}