.container {
    background: white;
    background: linear-gradient(none);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tf-taobaibao {
    width: 100%;
    margin: 1rem 0 !important;
}